{% extends "shop/admin/base.html" %}
{% load static %}


{% block title %}
Partners
{% endblock %}


{% block content %}

<main>
    <div class="uk-container">
      <!-- main contant -->   
      <div class="uk-position-relative uk-visible-toggle  uk-container uk-padding-medium" uk-slider>
            <div class="admin-content-inner"> 
                    <div class="uk-flex-inline uk-flex-middle"> 
                        <i class="fas fa-Book icon-large uk-margin-right"></i> 
                        <h4 class="uk-margin-remove"> Partners </h4> 
                        <button class="uk-button uk-button-success uk-margin-medium-left admin-btn" href="#" uk-tooltip="title: Create New Book ; delay: 500 ; pos: top ;animation:	uk-animation-scale-up" uk-toggle> 
                            <i class="fas fa-plus"></i> add new 
                        </button>                     
                        <div id="create-model" uk-modal> 
                            <div class="uk-modal-dialog"> 
                                <button class="uk-modal-close-default" type="button" uk-close></button>                             
                                <div class="uk-modal-header"> 
                                    <h4> Add New Partner   </h4> 
                                </div>                             
                                <div class="uk-modal-body"> 
                                    <div uk-grid> 
                                        <div class="uk-width-1-3@m"> 
                                            <form action="/file-upload" class="dropzone  id=" y-awesome-dropzone""> 
                                                <div class="fallback"> 
                                                    <input name="file" type="file" multiple/> 
                                                </div>                                             
                                            </form>                                         
                                            <div uk-form-custom class="uk-form-custom"> 
                                                <input type="file"> 
                                                <button class="uk-button uk-button-default uk-margin" type="button" tabindex="-1"> Select </button>                                             
                                            </div>                                         
                                        </div>                                     
                                        <div class="uk-width-2-3@m"> 
                                            <form> 
                                                <div class="uk-margin"> 
                                                    <label> Book Title  </label>                                                 
                                                    <input class="uk-input uk-form-width-large" placeholder="Name" type="text"> 
                                                </div>                                             
                                                <div class="uk-margin"> 
                                                    <label> Book Description </label>                                                 
                                                    <textarea class="uk-textarea" rows="5" placeholder="Book Description"></textarea>                                                 
                                                </div>                                             
                                                <div class="uk-margin"> 
                                                    <label> Download-link </label>                                                 
                                                    <input class="uk-input uk-form-width-large" placeholder="http://www.mydomain.com/book.pdf" type="text"> 
                                                </div>                                             
                                                <div class="uk-margin"> 
                                                    <label>  permission  </label>                                                 
                                                    <select class="uk-select"> 
                                                        <option> Public  </option>                                                     
                                                        <option> Only Register users </option>                                                     
                                                    </select>                                                 
                                                </div>                                             
                                            </form>                                         
                                        </div>                                     
                                    </div>                                 
                                </div>                             
                                <div class="uk-modal-footer uk-text-right"> 
                                    <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>                                 
                                    <button class="uk-button uk-button-primary" type="button">Save</button>                                 
                                </div>                             
                            </div>                         
                        </div>                     
                    </div>                 
                               
                    <!-- table -->                 
                    <div class="uk-overflow-auto"> 
                        <table class="uk-table uk-table-hover uk-table-middle uk-table-divider"> 
                            <thead> 
                                <tr> 
                                 
                                    <th class="uk-table-shrink"> Logo</th> 
                                    <!-- <th class="uk-width-small"> Name </th>  -->
                                    <th class="uk-width-small"> Website </th> 
                                    <th class="uk-table-shrink"> Action </th> 
                                </tr>                             
                            </thead>                         
                            <tbody> 
                                <tr> 
                                 
                                    <td class=" ">
                                        <img class="uk-preserve-width admin-book-img" src="/static/shop/assets/images/books/css3.jpg" width="50" height="60" alt="">
                                    </td>                                 
                                    <!-- <td class="uk-text-truncate">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</td>  -->
                                    <td class="uk-table-link uk-text-truncate"> 
                                        <a class="uk-link-reset" href="">Lorem ipsum dolor sit amet, consecstetur adipiscing elit, sed do eiusmod tempor.</a> 
                                    </td>                                 
                                    <td class="uk-flex-inline uk-flex-middle"> 
                                                                          
                                        <button class="uk-button uk-button-danger admin-table-btn"> 
                                            <i class="fas fa-trash uk-visible@m"></i> Edit 
                                        </button>                                     
                                                                          
                                    </td>                                 
                                </tr>                             
                                <tr> 
                                 
                                        <td class=" ">
                                            <img class="uk-preserve-width admin-book-img" src="/static/shop/assets/images/books/css3.jpg" width="50" height="60" alt="">
                                        </td>                                 
                                        <!-- <td class="uk-text-truncate">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</td>  -->
                                        <td class="uk-table-link uk-text-truncate"> 
                                            <a class="uk-link-reset" href="">Lorem ipsum dolor sit amet, consecstetur adipiscing elit, sed do eiusmod tempor.</a> 
                                        </td>                                 
                                        <td class="uk-flex-inline uk-flex-middle"> 
                                                                              
                                            <button class="uk-button uk-button-danger admin-table-btn"> 
                                                <i class="fas fa-trash uk-visible@m"></i> Edit 
                                            </button>                                     
                                                                               
                                        </td>                                 
                                    </tr>                          
                            </tbody>                         
                        </table>                     
                    </div>                 
                               
                </div>              
    </div>         
       
    </div>
      
      
</main>   
{% endblock content %}