{% extends "shop/normal/base.html" %}
{% load static %}


{% block title %}
Talks
{% endblock %}


{% block content %}


<main>
    <!--   feature bg -->
    <div class="hero-feature-bg"> </div>
    <div class="uk-container">
        <div class="uk-container">
            <div class="uk-position-relative uk-margin-medium-top none-border uk-clearfix"> 
                <div class="uk-float-left"> 
                    <!-- <h1 class="uk-text-white">Courses</h1> -->
                    <h4 class="uk-text-white uk-margin-remove uk-text-light"> Featured Talks </h4>
                </div>                         
                                     
            </div>
        </div>
       
        <div class="uk-position-relative uk-visible-toggle  uk-container uk-padding-medium" uk-slider>
            <ul class="uk-slider-items uk-child-width-1-3@s uk-child-width-1-4@m uk-grid"> 
                    {% if talks.each %}

                    {% for talk in talks.each|slice:":6" %}
                <li class="uk-active">
                    <a href={% url 'shop:talkdetail' talk.key %}>
                        <div class="uk-card-default uk-card-hover  uk-card-small feature-card uk-inline-clip">
                            <!-- <img class="course-img" src="/static/shop/assets/images/courses/course-10.jpg">  -->
                            {% if talk.val.cover %}
                            <img class="course-img" src="{{talk.val.cover}}" >
                            {% else %}
                            <img class="course-img" src="/static/shop/assets/images/talkcover.png" >
                                
                            {% endif %}
                            <div class="uk-card-body"> 
                                <h4>{{talk.val.title}} </h4>
                                <p> {{talk.val.sdescription}} </p> 
                            </div>                                 
                        </div>                             
                    </a>                         
                </li>
                {% endfor %}      

              
  
            </ul>
            <a class="uk-position-center-left uk-position-small uk-hidden-hover uk-hidden-hover uk-icon-button" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
            <a class="uk-position-center-right uk-position-small uk-hidden-hover uk-hidden-hover uk-icon-button" href="#" uk-slidenav-next uk-slider-item="next"></a>
            <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin">
                <li uk-slider-item="0" class="">
                    <a href="#"></a>
                </li>                         
            </ul>
            {% else %}
                
                             
            <div class="uk-padding-small" uk-grid> 
             <p>Coming soon</p>                         
            </div>   
          
                
            {% endif %}
        </div>
    </div>


   

   
     <!-- All courses -->
   
     <div class="uk-container uk-margin-top" id="more"> 
           
       
        <div class="uk-clearfix boundary-align uk-margin"> 
                <div class="uk-float-left uk-visible@m"> 
                    <h3 class="uk-margin-remove-bottom"> Browse our talks</h3>

                </div>                             
                <!-- <div class="uk-float-right uk-margin-top"> 
                   <span class="uk-text-small uk-text-uppercase"> Sort by :</span> 
                    <button class="uk-button uk-button-default uk-background-default uk-button-small" type="button" uk-tooltip="title: Sort; pos: top-right"> Newest  </button>                                 
                    <div uk-dropdown="pos: top-right ;mode : click" class="uk-dropdown  uk-dropdown-top-right" style="left: -141px; top: -267px;"> 
                        <ul class="uk-nav uk-dropdown-nav"> 
                                                                
                            <li> 
                                <a href="#">Date Published: Old</a> 
                            </li> 
                            <li> 
                                <a href="#">Date Published: New</a> 
                            </li>    
                            <li class="uk-nav-divider"></li>                                       
                            <li> 
                                <a href="#">Price: Highest to Lowest </a> 
                            </li>                                         
                            <li> 
                                <a href="#">Price: Lowest to Highest </a> 
                            </li>                                         
                                                              
                        </ul>                                     
                    </div>
                </div>                              -->
            </div>
        
            <div class="uk-margin uk-grid-match uk-child-width-1-4@m uk-child-width-1-2@s" uk-scrollspy="target: > div; cls:uk-animation-slide-bottom-small; delay: 200" uk-grid> 
                    {% if talks.each %}

                    {% for talk in talks.each %}
                <div> 
                    <a href={% url 'shop:talkdetail' talk.key %}>
                        <div class="uk-card-default uk-card-hover uk-card-small uk-margin-medium-bottom uk-inline-clip border-radius-6"> 
                                {% if talk.val.cover %}
                            <img src="{{talk.val.cover}}" style="width:100%;height:35%" >
                            {% else %}
                            <img src="/static/shop/assets/images/talkcover.png" style="width:100%;height:35%" >
                            {% endif %}  
                            <div class="uk-card-body"> 
                                <h4 class="uk-margin uk-margin-remove-bottom"> {{talk.val.title}} </h4> 
                                <p> {{talk.val.sdescription}}  </p>
                            </div>                                 
                        </div>
                    </a>                         
                </div>                     
           
                {% endfor %}      
                {% endif %}    
            </div>  
        <!-- pagination-->
        <!-- <ul class="uk-pagination uk-flex-center uk-margin-medium">
            <li class="uk-active">
                <span>1</span>
            </li>
            <li>
                <a href="#">2</a>
            </li>
            <li>
                <a href="#">3</a>
            </li>
            <li>
                <a href="#">4</a>
            </li>
            <li>
                <a href="#">5</a>
            </li>
            <li>
                <a href="#"><i class="fas fa-ellipsis-h uk-margin-small-top"></i></a>
            </li>
            <li>
                <a href="#">12</a>
            </li>
        </ul> -->
    </div>

</main> 

{% endblock content %}