{% extends "shop/base.html" %}
{% load static %}


{% block title %}
Partners
{% endblock %}






{% block content %}


<div class="container-fluid page__container p-0" style="min-height:500px;margin-top:10px;">
    <section class="iq-about">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                  
                    <div class="about-content mt-5">
                      
                        <div id="partners" class="d-block">
                            <div class="row justify-content-md-center">
                                <div class="col-lg-8 col-md-12 text-center">
                                    <div class="title-box">
                                        <h2 class="title text-dark">Meet Our <span>Partners</span></h2>
                                        <!-- <p class="mt-2">Richard McClintock, a Latin professor at Hampden-Sydney College
                                            in Virginia.</p> -->
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-4 mt-5">
                                    <div class="clients-box text-center">
                                        <a href="#"><img class="img-fluid" src="/static/shop/assets/images/clients-img1.png"
                                                alt="image" data-toggle="tooltip" title="HTML is not a programming language but rather something related to a programming tongue "> </a>
                                    </div>
                                </div>

                                <div class="col-lg-3 col-md-3 col-sm-4 mt-5">
                                        <div class="clients-box text-center">
                                            <a href="#"><img class="img-fluid" src="/static/shop/assets/images/clients-img1.png"
                                                    alt="image" data-toggle="tooltip" title="HTML is not a programming language but rather something related to a programming tongue "> </a>
                                        </div>
                                    </div>

                                    
                                    <div class="col-lg-3 col-md-3 col-sm-4 mt-5">
                                            <div class="clients-box text-center">
                                                <a href="#"><img class="img-fluid" src="/static/shop/assets/images/clients-img1.png"
                                                        alt="image" data-toggle="tooltip" title="HTML is not a programming language but rather something related to a programming tongue "> </a>
                                            </div>
                                        </div>

                                        <div class="col-lg-3 col-md-3 col-sm-4 mt-5">
                                                <div class="clients-box text-center">
                                                    <a href="#"><img class="img-fluid" src="/static/shop/assets/images/clients-img1.png"
                                                            alt="image" data-toggle="tooltip" title="HTML is not a programming language but rather something related to a programming tongue "> </a>
                                                </div>
                                            </div>
            
                                                                            
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <br><br><br><br><br><br><br><br> <br><br><br><br><br><br><br><br>
</div>


{% endblock content %}


{% block javascript %}



{% endblock %}